{% extends 'base_main.html' %}

{% block title %}
	天天生鲜-用户中心
{% endblock %}

{% block search %}
{% endblock %}

{% block content %}
		<div class="search_bar clearfix">
			<a href="{% url 'goods:index' %}" class="logo fl"><img src="/static/images/logo.png"></a>
			<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;用户中心</div>
			<div class="search_con fr">
				<input type="text" class="input_text fl" name="" placeholder="搜索商品">
				<input type="button" class="input_btn fr" name="" value="搜索">
			</div>
		</div>

		<div class="main_con clearfix">
			<div class="left_menu_con clearfix">
				<h3>用户中心</h3>
				{% include 'base_user.html' %}
			</div>
			<div class="right_content clearfix">
					<div class="info_con clearfix">
					<h3 class="common_title2">基本信息</h3>
						{% for address in user_address %}
							<ul class="user_info_list">
								<li><span>用户名：</span>{{ address.signer_name }}</li>
								<li><span>联系方式：</span>{{ address.signer_mobile }}</li>
								<li><span>联系地址：</span>{{ address.address }}</li>
							</ul>
						{% endfor %}
					</div>
				
			<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					{% for goods in historical_goods %}
						<ul class="goods_type_list clearfix">
							<li>
								<a href="{% url 'goods:detail' goods.id %}"><img src="/media/{{ goods.goods_front_image }}"></a>
								<h4><a href="{% url 'goods:detail' goods.id %}">{{ goods.name }}</a></h4>
								<div class="operate">
									<span class="prize">￥{{ goods.shop_price }}</span>
									<span class="unit">{{ goods.shop_price }}/500g</span>
									<a href="{% url 'cart:add_cart' %}" class="add_goods" title="加入购物车"></a>
								</div>
							</li>
						</ul>
					{% endfor %}
					{% if historical_goods %}
						<a href="javascript:;" onclick="del_history()">清空历史记录</a>
					{% endif %}
				</div>
			</div>
		</div>
		{% csrf_token %}
		<script>
			function del_history(){
			var csrf= $('input[name="csrfmiddlewaretoken"]').val()
			$.ajax({
				url: '/user/del_history/',
				type: 'POST',
				headers: {'X-CSRFToken': csrf},
				dataType: 'json',
				success: function(data){
					location.reload()
				},
				error: function(){
					alert('删除失败')
				}
			})
		}
		</script>
{% endblock %}